* {
  margin: 0;
  padding: 0;
}

.hero {
  background-color: #1f2937;
}
.hero {
  display: flex;
  flex-flow: column;
}

.hero .top_bar {
  margin: 10px 120px 20px 120px;
  padding: 20px;
  display: flex;
  flex-flow: row;
  flex: 1 1 auto;
  justify-content: space-around;
}
.hero .top_bar .heading {
  display: flex;
  margin: 20px;
  flex: 1 1 auto;
}
.hero .top_bar .links {
  display: flex;
  flex: 1 1 auto;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
}

.hero .top_bar .links a {
  margin: 20px;
}

.hero .intro {
  margin: 120px;
  padding: 20px;
  display: flex;
  flex-flow: row;
  flex: 1 1 auto;
}
.hero .intro div {
  padding: 20px;
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  flex-wrap: wrap;
}
.hero .intro div * {
  margin: 5px;
}
.hero .intro div button {
  align-self: flex-start;
  padding: 5px 10px;
}
.hero .img1 {
  display: flex;
  flex: 1 1 auto;
  justify-self: center;
  text-align: center;
  background-color: gray;
}
.information {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  align-items: center;
  margin: 120px;
  padding: 20px;
}
.information div,
.information h2 {
  padding: 20px;
  display: flex;
  flex-flow: row;
  align-self: stretch;
  justify-content: space-around;
}
.information .info_images img {
  width: 200px;
  height: 200px;
  border: 4px solid #3882f6;
  border-radius: 10px;
}

.quote {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  align-items: center;
  padding: 100px 200px 100px 200px;
}
.quote h2 {
  align-self: flex-end;
}

.signup_box {
  display: flex;
  flex: 1 1 auto;
  margin: 120px;
  padding: 60px 100px;
  border-radius: 10px;
}
.signup_box div{
  padding: 40px;
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.signup_box .left{
  padding: 5px;
  align-items: flex-start;
}
.signup_box button{
  padding: 5px 25px;
}

footer  {
  padding: 30px;
  text-align: center;
}

.hero h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 800;
}

.hero h3 {
  color: #f9faf8;
  font-size: 24px;
}

.hero a,
.hero p {
  color: #f9faf8;
  font-size: 18px;
}

.hero button {
  background: #3882f6;
  color: #f9faf8;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
}

.hero img {
  color: #f9faf8;
}

.information h2 {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
}

.information p {
  color: #1f2937;
  font-size: 18px;
}

.quote {
  color: #1f2937;
  background-color: #e5e7eb;
}

.quote h1 {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
}
.quote h2 {
  font-size: 20px;
  font-weight: 700;
}

.signup_box {
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 20px;
}
.signup_box p{
  font-size: 18px;
}
.signup_box button {
  background-color: #3882f6;
  color: #f9faf8;
  border: 2px solid #f9faf8;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 700;
}

footer {
  color: #f9faf8;
  font-size: 18px;
  background-color: #1f2937;
}
